<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="cmp131B86610BFFD94A1B96ED0594231A4E" Guid="*">
                <File Id="fil53E58FBC16883434583B1F81B2F8FF66" KeyPath="yes" Source="$(var.SourceFilesDir)\EmptyKeys.UserInterface.Core.dll" />
            </Component>
            <Component Id="cmp5C8BE23FBEFFB5ADB6A8E714EE657174" Guid="*">
                <File Id="fil000D10A453A7396743DAB3B42F315C4F" KeyPath="yes" Source="$(var.SourceFilesDir)\EmptyKeys.UserInterface.Core.xml" />
            </Component>
            <Component Id="cmpBD2B1D0F75FE0F21612A37BF05583309" Guid="*">
                <File Id="fil7BF987BB0E2C8F15F09C4AE81E010191" KeyPath="yes" Source="$(var.SourceFilesDir)\EmptyKeys.UserInterface.dll" />
            </Component>
            <Component Id="cmpE00944F1053EAEBD8399956A826329ED" Guid="*">
                <File Id="fil430086FC119075A7B8C31B9C6A6E7247" KeyPath="yes" Source="$(var.SourceFilesDir)\EmptyKeys.UserInterface.MonoGame.dll" />
            </Component>
            <Component Id="cmp62A8FEE4DBCB215C925B3F4C4E10BEEB" Guid="*">
                <File Id="filFB36B08A21E8E3E4BD3C6E6DC7A7AF43" KeyPath="yes" Source="$(var.SourceFilesDir)\EmptyKeys.UserInterface.xml" />
            </Component>
            <Component Id="cmp5FEF7BBDF35B39BDF108D4FC6FF4C924" Guid="*">
                <File Id="filF247318FDF4D94A3E8F97465F6757FC1" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.exe" />
            </Component>
            <Component Id="cmp10B3ADA67921BA7127B12DFCB13A82CC" Guid="*">
                <File Id="fil64DA3DB5B26C4504B76019430446824A" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.exe.config" />
            </Component>
            <Component Id="cmpA1E5623C69D1EE284019560C04CCEDA9" Guid="*">
                <File Id="fil492077FCE016359724AC1BB2855BD668" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.pdb" />
            </Component>
            <Component Id="cmp092292E169838EB08640D820B53C5FFB" Guid="*">
                <File Id="fil436C33D45B0AF1404742F976F287B672" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.vshost.exe" />
            </Component>
            <Component Id="cmp43B6E20384786FCCC834919101544DDE" Guid="*">
                <File Id="fil0658C12B126BC5169E73C289D2BC5FBB" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.vshost.exe.config" />
            </Component>
            <Component Id="cmp4E757CE1E25D9772FA17C804B3F76DD6" Guid="*">
                <File Id="filE296055AE9DC681223CE83B5A75FED17" KeyPath="yes" Source="$(var.SourceFilesDir)\GameUILibrary.dll" />
            </Component>
            <Component Id="cmpB4FDB10DC123A4E9B60D698EFDE83DA7" Guid="*">
                <File Id="fil075F187FB7161DC2C555FAC20A2BDD3B" KeyPath="yes" Source="$(var.SourceFilesDir)\GameUILibrary.pdb" />
            </Component>
            <Component Id="cmpA4E2315F34E39171C2343F76EA85A474" Guid="*">
                <File Id="filB960EE948C8B9C5D31DB635D9727100D" KeyPath="yes" Source="$(var.SourceFilesDir)\MonoGame.Framework.dll" />
            </Component>
            <Component Id="cmpE55F2C5E82F9417FFFEE05619AD9AFB4" Guid="*">
                <File Id="fil84AF0E5CE1F7E4394E08E97D8814A8BE" KeyPath="yes" Source="$(var.SourceFilesDir)\MonoGame.Framework.xml" />
            </Component>
            <Component Id="cmpF7823522CDD572337F4DA0AE07DA2EE7" Guid="*">
                <File Id="fil0909A581CD8247E500EE8BFCFD10DD6A" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.Direct2D1.dll" />
            </Component>
            <Component Id="cmpCC16AD975D00A0C060CFD76F9B6217C0" Guid="*">
                <File Id="fil41D5BE1EA00BED7D5A897E78F7343E43" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.Direct2D1.xml" />
            </Component>
            <Component Id="cmp67FFC4902B13B33DF23C49E38B185E72" Guid="*">
                <File Id="fil5F1F61605BD8F5F31EA17F5001364EC8" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.Direct3D11.dll" />
            </Component>
            <Component Id="cmpF556E43B323F6BDC0DDD0C0613A76C2D" Guid="*">
                <File Id="fil354F74D6F80BEBF42B074DF30F393CEF" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.Direct3D11.xml" />
            </Component>
            <Component Id="cmp5CF510CE0CE8760DB2E562E4E97628EB" Guid="*">
                <File Id="fil16084A6C33E225616CA1C5996741C9A2" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.Direct3D9.dll" />
            </Component>
            <Component Id="cmpCFB1B34F4BEF80DAE0646A9A2D6084FD" Guid="*">
                <File Id="fil265E0A7722CFE6006999DEC0F1946F19" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.Direct3D9.xml" />
            </Component>
            <Component Id="cmp2AAF50D0CA62971212E45BE4DADFA325" Guid="*">
                <File Id="fil6AD3AEF404D38A734A406563B4A86398" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.dll" />
            </Component>
            <Component Id="cmp4AFE0A7C759DEF4F668E3010CB30E6D9" Guid="*">
                <File Id="filB9FBC5759432AE161F1F3AAEA61C192C" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.DXGI.dll" />
            </Component>
            <Component Id="cmp7DDA6B9E67CFD4C9B6A599D031C3C7F4" Guid="*">
                <File Id="fil8C0995EAF579C3DEC6B72BF772E75BF0" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.DXGI.xml" />
            </Component>
            <Component Id="cmp4ABFA231C0F3C7C9B38C1614365F9D81" Guid="*">
                <File Id="fil1647A07AA34AA851531E028B70A09282" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.MediaFoundation.dll" />
            </Component>
            <Component Id="cmp701242188B112460DAFF093C1D30B77F" Guid="*">
                <File Id="fil454925C4D36E6187D7878267739BFD0A" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.MediaFoundation.xml" />
            </Component>
            <Component Id="cmp385F13079D9544D5F7F259D6E838A162" Guid="*">
                <File Id="fil91E22563BF60ED2B313B6BFF7E35B765" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.RawInput.dll" />
            </Component>
            <Component Id="cmp4642662AC242BADD92D40BB4819B4C77" Guid="*">
                <File Id="fil27218DC57AE44259BA5A6B5E8B4CE1F1" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.RawInput.xml" />
            </Component>
            <Component Id="cmp5B75F75FCEDC1B2E6BE000905263B995" Guid="*">
                <File Id="fil459F2AD748F12AED2F0414C66BAB54B8" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.XAudio2.dll" />
            </Component>
            <Component Id="cmpA748CA7246BFD8AF08CADCC2E06BDF1C" Guid="*">
                <File Id="filA2DFD006F12291685214099263E7FEBC" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.XAudio2.xml" />
            </Component>
            <Component Id="cmpD5BB730922D891BBF1C845CCC167AF91" Guid="*">
                <File Id="filF0489BC5E9A8001B9E1A361BACC6761D" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.XInput.dll" />
            </Component>
            <Component Id="cmpE60FCE403DF777BD21909BDF60B3C398" Guid="*">
                <File Id="fil6A1342CE5960642CBAC53A8CEC50359B" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.XInput.xml" />
            </Component>
            <Component Id="cmp43663587EF3894D860EC674B81D0507E" Guid="*">
                <File Id="filC452594D14522C780697B7DB0B929853" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.xml" />
            </Component>
            <Component Id="cmpC4FCCCF1912E6039285E3C056BF7D4C5" Guid="*">
                <File Id="filFAD199F57E6388CA95E655F542DF9009" KeyPath="yes" Source="$(var.SourceFilesDir)\Source.dll" />
            </Component>
            <Component Id="cmpD70A03A95329ED267F1F32ECBEAF74A2" Guid="*">
                <File Id="fil7245F183AF38256F5A775FCC734081C4" KeyPath="yes" Source="$(var.SourceFilesDir)\Source.pdb" />
            </Component>
            <Directory Id="dir36665998438621F6BB41818960BE2CEC" Name="Content">
                <Directory Id="dir625118AEDF6A60F84556DF2B8FD83917" Name="Art">
                    <Component Id="cmp5B33A7BE5FBBC4861B355D75AF67FA79" Guid="*">
                        <File Id="filCA0B1813EB20F071162FBFB9349DA523" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Art\GreenDude.xnb" />
                    </Component>
                </Directory>
                <Directory Id="dirD88C181BE017917FDD18883B882AADA7" Name="Backgrounds">
                    <Directory Id="dirEA6F79D86BB9B9587096B2769880D77A" Name="Background0">
                        <Component Id="cmp4085CF7A8F547BDFD07E5B87B219DE06" Guid="*">
                            <File Id="filE98EAAE40ED2D06D9AF70E67DDD53CE3" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Backgrounds\Background0\layer0.xnb" />
                        </Component>
                        <Component Id="cmp84C8038DE3F940BD61FBA27C954D7E09" Guid="*">
                            <File Id="filF7B2B0DCF7A317E0EEE8994AA6375509" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Backgrounds\Background0\layer1.xnb" />
                        </Component>
                        <Component Id="cmp1EA1979A8D4A12B199DB87F52752F854" Guid="*">
                            <File Id="fil6239B9EDB7D363802744A47A349993FC" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Backgrounds\Background0\layer2.xnb" />
                        </Component>
                    </Directory>
                    <Directory Id="dirD4ABE77D1E9BA4A045514EDBDC61DAEF" Name="Background1">
                        <Component Id="cmp63346FC0286126992CE8B966EA09C143" Guid="*">
                            <File Id="fil8C6E82D9D8D9DBC4711D16C49C43EDFC" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Backgrounds\Background1\layer0.xnb" />
                        </Component>
                    </Directory>
                    <Directory Id="dirEE839E6E4AD3C393671CBADB07404519" Name="Background2">
                        <Component Id="cmp5C20BC90950DB7712D5B3F0A0A2AB6A7" Guid="*">
                            <File Id="fil6EE207D4F73BF254CCB5DDDC4CCD2344" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Backgrounds\Background2\layer0.xnb" />
                        </Component>
                        <Component Id="cmp9A521B5B6FB71659B1BDC1D83C365BE6" Guid="*">
                            <File Id="filDF35B4F6AF9C39F8CCF35C859C08E185" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Backgrounds\Background2\layer1.xnb" />
                        </Component>
                        <Component Id="cmpDAE4C028FF5EA4F8E9B03C721B20AB63" Guid="*">
                            <File Id="filD6CCACD44B4808D56C56AE91D4EBC970" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Backgrounds\Background2\layer2.xnb" />
                        </Component>
                        <Component Id="cmpF8A7663EB42E8406FF9E13C1D6A0748A" Guid="*">
                            <File Id="filCF1BEC684D6F313B755A1120937A6D9C" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Backgrounds\Background2\layer3.xnb" />
                        </Component>
                    </Directory>
                </Directory>
                <Directory Id="dirC94B360692D876915BFC8202F11CBEBB" Name="Fonts">
                    <Component Id="cmp02B8A6EB72D7FB968B7D33F4812C61BE" Guid="*">
                        <File Id="filACF2FD8BA35FF99F2D35A5CC71198702" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Fonts\Score.xnb" />
                    </Component>
                    <Component Id="cmp25969B4D9C08E4DFA7C82B80D9DDDB52" Guid="*">
                        <File Id="fil304E75987E1ED54502B579B0CE3DF8F2" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Fonts\ScoreBig.xnb" />
                    </Component>
                    <Component Id="cmpD286185F685C898893375AC3C505ABD8" Guid="*">
                        <File Id="filBAF24551D2C4C2CAB779580553F5E8C5" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Fonts\Segoe_UI_15_Bold.xnb" />
                    </Component>
                    <Component Id="cmpAA06DA05C7471BB75916F74F71D8607D" Guid="*">
                        <File Id="fil0621762A746BAD03C54DCFA761DF45CF" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Fonts\Segoe_UI_30_Bold.xnb" />
                    </Component>
                    <Component Id="cmp6FD0F26434D86EBC405D5931314E75EF" Guid="*">
                        <File Id="fil1F84FBB1C251CA394F16DCE4CA638569" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Fonts\Segoe_UI_9_Bold.xnb" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dirCD8F6A1E5398F0D32AA17F066408B1E5" Name="Levels">
                <Component Id="cmpBC7BE241DEF2F71DF1E498CEF8CC0EA9" Guid="*">
                    <File Id="fil109BFC8FEA5E27904842849C692B0389" KeyPath="yes" Source="$(var.SourceFilesDir)\Levels\level0" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="GameFiles">
            <ComponentRef Id="cmp131B86610BFFD94A1B96ED0594231A4E" />
            <ComponentRef Id="cmp5C8BE23FBEFFB5ADB6A8E714EE657174" />
            <ComponentRef Id="cmpBD2B1D0F75FE0F21612A37BF05583309" />
            <ComponentRef Id="cmpE00944F1053EAEBD8399956A826329ED" />
            <ComponentRef Id="cmp62A8FEE4DBCB215C925B3F4C4E10BEEB" />
            <ComponentRef Id="cmp5FEF7BBDF35B39BDF108D4FC6FF4C924" />
            <ComponentRef Id="cmp10B3ADA67921BA7127B12DFCB13A82CC" />
            <ComponentRef Id="cmpA1E5623C69D1EE284019560C04CCEDA9" />
            <ComponentRef Id="cmp092292E169838EB08640D820B53C5FFB" />
            <ComponentRef Id="cmp43B6E20384786FCCC834919101544DDE" />
            <ComponentRef Id="cmp4E757CE1E25D9772FA17C804B3F76DD6" />
            <ComponentRef Id="cmpB4FDB10DC123A4E9B60D698EFDE83DA7" />
            <ComponentRef Id="cmpA4E2315F34E39171C2343F76EA85A474" />
            <ComponentRef Id="cmpE55F2C5E82F9417FFFEE05619AD9AFB4" />
            <ComponentRef Id="cmpF7823522CDD572337F4DA0AE07DA2EE7" />
            <ComponentRef Id="cmpCC16AD975D00A0C060CFD76F9B6217C0" />
            <ComponentRef Id="cmp67FFC4902B13B33DF23C49E38B185E72" />
            <ComponentRef Id="cmpF556E43B323F6BDC0DDD0C0613A76C2D" />
            <ComponentRef Id="cmp5CF510CE0CE8760DB2E562E4E97628EB" />
            <ComponentRef Id="cmpCFB1B34F4BEF80DAE0646A9A2D6084FD" />
            <ComponentRef Id="cmp2AAF50D0CA62971212E45BE4DADFA325" />
            <ComponentRef Id="cmp4AFE0A7C759DEF4F668E3010CB30E6D9" />
            <ComponentRef Id="cmp7DDA6B9E67CFD4C9B6A599D031C3C7F4" />
            <ComponentRef Id="cmp4ABFA231C0F3C7C9B38C1614365F9D81" />
            <ComponentRef Id="cmp701242188B112460DAFF093C1D30B77F" />
            <ComponentRef Id="cmp385F13079D9544D5F7F259D6E838A162" />
            <ComponentRef Id="cmp4642662AC242BADD92D40BB4819B4C77" />
            <ComponentRef Id="cmp5B75F75FCEDC1B2E6BE000905263B995" />
            <ComponentRef Id="cmpA748CA7246BFD8AF08CADCC2E06BDF1C" />
            <ComponentRef Id="cmpD5BB730922D891BBF1C845CCC167AF91" />
            <ComponentRef Id="cmpE60FCE403DF777BD21909BDF60B3C398" />
            <ComponentRef Id="cmp43663587EF3894D860EC674B81D0507E" />
            <ComponentRef Id="cmpC4FCCCF1912E6039285E3C056BF7D4C5" />
            <ComponentRef Id="cmpD70A03A95329ED267F1F32ECBEAF74A2" />
            <ComponentRef Id="cmp5B33A7BE5FBBC4861B355D75AF67FA79" />
            <ComponentRef Id="cmp4085CF7A8F547BDFD07E5B87B219DE06" />
            <ComponentRef Id="cmp84C8038DE3F940BD61FBA27C954D7E09" />
            <ComponentRef Id="cmp1EA1979A8D4A12B199DB87F52752F854" />
            <ComponentRef Id="cmp63346FC0286126992CE8B966EA09C143" />
            <ComponentRef Id="cmp5C20BC90950DB7712D5B3F0A0A2AB6A7" />
            <ComponentRef Id="cmp9A521B5B6FB71659B1BDC1D83C365BE6" />
            <ComponentRef Id="cmpDAE4C028FF5EA4F8E9B03C721B20AB63" />
            <ComponentRef Id="cmpF8A7663EB42E8406FF9E13C1D6A0748A" />
            <ComponentRef Id="cmp02B8A6EB72D7FB968B7D33F4812C61BE" />
            <ComponentRef Id="cmp25969B4D9C08E4DFA7C82B80D9DDDB52" />
            <ComponentRef Id="cmpD286185F685C898893375AC3C505ABD8" />
            <ComponentRef Id="cmpAA06DA05C7471BB75916F74F71D8607D" />
            <ComponentRef Id="cmp6FD0F26434D86EBC405D5931314E75EF" />
            <ComponentRef Id="cmpBC7BE241DEF2F71DF1E498CEF8CC0EA9" />
        </ComponentGroup>
    </Fragment>
</Wix>