<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp233DA87865D8E1F7A008246AF09C57F9" Guid="*">
                <File Id="fil234291F19DE2AB90D754479E42496D39" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.exe" />
            </Component>
            <Component Id="cmp0AA1C1C90F45EFC08D32CED7665EAF02" Guid="*">
                <File Id="filD9434C05B21EDDA1A4CD39921E7DBFB0" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.exe.config" />
            </Component>
            <Component Id="cmpBA5AAEA92B046CBA64A19E7D8E52FBBA" Guid="*">
                <File Id="fil3B1A9C731D3C9EC86C38D83EEF643740" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.pdb" />
            </Component>
            <Component Id="cmp27932FA8FBD2A970E57245EC2B80887A" Guid="*">
                <File Id="fil3A7F875B371B535A80D9CB4B7FD57754" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.vshost.exe" />
            </Component>
            <Component Id="cmpFF79E7518878015DA438655B27553550" Guid="*">
                <File Id="fil7F472AADF1B1CE9319E18BF27B14F948" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.vshost.exe.config" />
            </Component>
            <Component Id="cmp1AD5254898425E055E548D7D512F93BE" Guid="*">
                <File Id="filC137A9B8593F426C438C49134D7766F5" KeyPath="yes" Source="$(var.SourceFilesDir)\MonoGame.Framework.dll" />
            </Component>
            <Component Id="cmpA4F383A5696932710BD89D91417FC737" Guid="*">
                <File Id="fil4F70D9258C1725EC6D7A38B059173277" KeyPath="yes" Source="$(var.SourceFilesDir)\MonoGame.Framework.xml" />
            </Component>
            <Component Id="cmpF79562B8D935E93E73AB94C78A5F52AD" Guid="*">
                <File Id="filD288EFBC69A5E275EAB4F50C7BB109A3" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.Direct2D1.dll" />
            </Component>
            <Component Id="cmp0320A630A0EB3081EE50B8E83E5E78CB" Guid="*">
                <File Id="filA5881046D6EA465DB34B8DBABB43FE3D" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.Direct3D11.dll" />
            </Component>
            <Component Id="cmp5628FD27631E522C3D67C498667BC8A5" Guid="*">
                <File Id="fil9AF927B04C176B9DDB9785FEBFB421F9" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.Direct3D9.dll" />
            </Component>
            <Component Id="cmp9607F152871CB9C2659ED14722E13E44" Guid="*">
                <File Id="filF5517F7734A13514A2CDF5F069816EE5" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.dll" />
            </Component>
            <Component Id="cmpC12E0E231E2E8E7FE864B56E6323063E" Guid="*">
                <File Id="filEA19CC1C8ED8FB958DF7853CFD91383F" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.DXGI.dll" />
            </Component>
            <Component Id="cmp12B33F4EF3373348DA256013C8AD2D8D" Guid="*">
                <File Id="filD9EE962D84CB515B6C4EC80D1E5B836F" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.MediaFoundation.dll" />
            </Component>
            <Component Id="cmp76D3CAEA74AD828D869AD68CA8D96031" Guid="*">
                <File Id="fil112B0CFED2DE833B1B2552E842B8D609" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.RawInput.dll" />
            </Component>
            <Component Id="cmp39709B147FEA9A9BCB271BDEF203792D" Guid="*">
                <File Id="fil418121CCB1ADFDCCE302460AEEC657ED" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.XAudio2.dll" />
            </Component>
            <Component Id="cmp5C9318FE90730AC17FB8833818272B62" Guid="*">
                <File Id="filF44BAE5BA7BEAA14E819A77A832E3B99" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.XInput.dll" />
            </Component>
            <Component Id="cmp8AEB7CB013A171EDC5F72BE79D56B5A1" Guid="*">
                <File Id="fil5E0FD616258C1185D08BE789FCBCB020" KeyPath="yes" Source="$(var.SourceFilesDir)\Source.dll" />
            </Component>
            <Component Id="cmpB702EE798CB3FB6382F8D02C72514011" Guid="*">
                <File Id="filF5C770EACCB2D8F579624D50F5A2403C" KeyPath="yes" Source="$(var.SourceFilesDir)\Source.pdb" />
            </Component>
            <Directory Id="dir530CC0BB7768701C9C7496ACE976A217" Name="Content">
                <Directory Id="dir84228B25E32B716CCB378673DD52EF47" Name="Art">
                    <Component Id="cmpB1D19EF6311A70A6E7603EC8D9589A46" Guid="*">
                        <File Id="fil12C7BA703077FA2A9ACF3471B38A37DF" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Art\GreenDude.xnb" />
                    </Component>
                </Directory>
                <Directory Id="dir0DE145494F21DACED2420E2AA9BFAC01" Name="Fonts">
                    <Component Id="cmp1799E5CD7D8615EA920A1DC85B2E7299" Guid="*">
                        <File Id="fil4B801C09C64EA29482A93C29DD36E9A1" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Fonts\Score.xnb" />
                    </Component>
                    <Component Id="cmp4FF6202BA0A80F1BB960C29B16DAA6D4" Guid="*">
                        <File Id="fil939363481541104D65BE2B2B186728F6" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Fonts\ScoreBig.xnb" />
                    </Component>
                </Directory>
                <Directory Id="dir540FDDCDC1AD3D05BDD4F8980EF37810" Name="Music">
                    <Component Id="cmp24F03D6CB9F4A12092665C5E41F84E76" Guid="*">
                        <File Id="filA15AC1645BDE2D33E29568AA687B2E16" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Music\afln_s_gdc-1.wma" />
                    </Component>
                    <Component Id="cmp154BC81A69A6DA87B421FE01CD511C45" Guid="*">
                        <File Id="fil1F16597ADAE829A1A01E117B21785636" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Music\afln_s_gdc-1.xnb" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="GameFiles">
            <ComponentRef Id="cmp233DA87865D8E1F7A008246AF09C57F9" />
            <ComponentRef Id="cmp0AA1C1C90F45EFC08D32CED7665EAF02" />
            <ComponentRef Id="cmpBA5AAEA92B046CBA64A19E7D8E52FBBA" />
            <ComponentRef Id="cmp27932FA8FBD2A970E57245EC2B80887A" />
            <ComponentRef Id="cmpFF79E7518878015DA438655B27553550" />
            <ComponentRef Id="cmp1AD5254898425E055E548D7D512F93BE" />
            <ComponentRef Id="cmpA4F383A5696932710BD89D91417FC737" />
            <ComponentRef Id="cmpF79562B8D935E93E73AB94C78A5F52AD" />
            <ComponentRef Id="cmp0320A630A0EB3081EE50B8E83E5E78CB" />
            <ComponentRef Id="cmp5628FD27631E522C3D67C498667BC8A5" />
            <ComponentRef Id="cmp9607F152871CB9C2659ED14722E13E44" />
            <ComponentRef Id="cmpC12E0E231E2E8E7FE864B56E6323063E" />
            <ComponentRef Id="cmp12B33F4EF3373348DA256013C8AD2D8D" />
            <ComponentRef Id="cmp76D3CAEA74AD828D869AD68CA8D96031" />
            <ComponentRef Id="cmp39709B147FEA9A9BCB271BDEF203792D" />
            <ComponentRef Id="cmp5C9318FE90730AC17FB8833818272B62" />
            <ComponentRef Id="cmp8AEB7CB013A171EDC5F72BE79D56B5A1" />
            <ComponentRef Id="cmpB702EE798CB3FB6382F8D02C72514011" />
            <ComponentRef Id="cmpB1D19EF6311A70A6E7603EC8D9589A46" />
            <ComponentRef Id="cmp1799E5CD7D8615EA920A1DC85B2E7299" />
            <ComponentRef Id="cmp4FF6202BA0A80F1BB960C29B16DAA6D4" />
            <ComponentRef Id="cmp24F03D6CB9F4A12092665C5E41F84E76" />
            <ComponentRef Id="cmp154BC81A69A6DA87B421FE01CD511C45" />
        </ComponentGroup>
    </Fragment>
</Wix>