<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="cmp5FEF7BBDF35B39BDF108D4FC6FF4C924" Guid="*">
                <File Id="filF247318FDF4D94A3E8F97465F6757FC1" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.exe" />
            </Component>
            <Component Id="cmp10B3ADA67921BA7127B12DFCB13A82CC" Guid="*">
                <File Id="fil64DA3DB5B26C4504B76019430446824A" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.exe.config" />
            </Component>
            <Component Id="cmpA1E5623C69D1EE284019560C04CCEDA9" Guid="*">
                <File Id="fil492077FCE016359724AC1BB2855BD668" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.pdb" />
            </Component>
            <Component Id="cmp092292E169838EB08640D820B53C5FFB" Guid="*">
                <File Id="fil436C33D45B0AF1404742F976F287B672" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.vshost.exe" />
            </Component>
            <Component Id="cmp43B6E20384786FCCC834919101544DDE" Guid="*">
                <File Id="fil0658C12B126BC5169E73C289D2BC5FBB" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.vshost.exe.config" />
            </Component>
            <Component Id="cmpD672AC6093B252514879260B93A5A63B" Guid="*">
                <File Id="fil6B9D8B4A55A053ABE8EA440DBA65873F" KeyPath="yes" Source="$(var.SourceFilesDir)\Game.vshost.exe.manifest" />
            </Component>
            <Component Id="cmpDF8906FA2FAFCA00EDD43FF484161254" Guid="*">
                <File Id="fil2B874DD9C41E03DB58ADB612B22613B3" KeyPath="yes" Source="$(var.SourceFilesDir)\Microsoft.Deployment.WindowsInstaller.dll" />
            </Component>
            <Component Id="cmpCBC13A32BEA32F0E0E7EC1EDF51D2BC1" Guid="*">
                <File Id="filBBE6CFAE30C72757914F4AADE0482508" KeyPath="yes" Source="$(var.SourceFilesDir)\Microsoft.Deployment.WindowsInstaller.xml" />
            </Component>
            <Component Id="cmpA4E2315F34E39171C2343F76EA85A474" Guid="*">
                <File Id="filB960EE948C8B9C5D31DB635D9727100D" KeyPath="yes" Source="$(var.SourceFilesDir)\MonoGame.Framework.dll" />
            </Component>
            <Component Id="cmpE55F2C5E82F9417FFFEE05619AD9AFB4" Guid="*">
                <File Id="fil84AF0E5CE1F7E4394E08E97D8814A8BE" KeyPath="yes" Source="$(var.SourceFilesDir)\MonoGame.Framework.xml" />
            </Component>
            <Component Id="cmpF7823522CDD572337F4DA0AE07DA2EE7" Guid="*">
                <File Id="fil0909A581CD8247E500EE8BFCFD10DD6A" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.Direct2D1.dll" />
            </Component>
            <Component Id="cmp67FFC4902B13B33DF23C49E38B185E72" Guid="*">
                <File Id="fil5F1F61605BD8F5F31EA17F5001364EC8" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.Direct3D11.dll" />
            </Component>
            <Component Id="cmp5CF510CE0CE8760DB2E562E4E97628EB" Guid="*">
                <File Id="fil16084A6C33E225616CA1C5996741C9A2" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.Direct3D9.dll" />
            </Component>
            <Component Id="cmp2AAF50D0CA62971212E45BE4DADFA325" Guid="*">
                <File Id="fil6AD3AEF404D38A734A406563B4A86398" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.dll" />
            </Component>
            <Component Id="cmp4AFE0A7C759DEF4F668E3010CB30E6D9" Guid="*">
                <File Id="filB9FBC5759432AE161F1F3AAEA61C192C" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.DXGI.dll" />
            </Component>
            <Component Id="cmp4ABFA231C0F3C7C9B38C1614365F9D81" Guid="*">
                <File Id="fil1647A07AA34AA851531E028B70A09282" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.MediaFoundation.dll" />
            </Component>
            <Component Id="cmp385F13079D9544D5F7F259D6E838A162" Guid="*">
                <File Id="fil91E22563BF60ED2B313B6BFF7E35B765" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.RawInput.dll" />
            </Component>
            <Component Id="cmp5B75F75FCEDC1B2E6BE000905263B995" Guid="*">
                <File Id="fil459F2AD748F12AED2F0414C66BAB54B8" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.XAudio2.dll" />
            </Component>
            <Component Id="cmpD5BB730922D891BBF1C845CCC167AF91" Guid="*">
                <File Id="filF0489BC5E9A8001B9E1A361BACC6761D" KeyPath="yes" Source="$(var.SourceFilesDir)\SharpDX.XInput.dll" />
            </Component>
            <Component Id="cmpC4FCCCF1912E6039285E3C056BF7D4C5" Guid="*">
                <File Id="filFAD199F57E6388CA95E655F542DF9009" KeyPath="yes" Source="$(var.SourceFilesDir)\Source.dll" />
            </Component>
            <Component Id="cmpD70A03A95329ED267F1F32ECBEAF74A2" Guid="*">
                <File Id="fil7245F183AF38256F5A775FCC734081C4" KeyPath="yes" Source="$(var.SourceFilesDir)\Source.pdb" />
            </Component>
            <Directory Id="dir36665998438621F6BB41818960BE2CEC" Name="Content">
                <Directory Id="dir625118AEDF6A60F84556DF2B8FD83917" Name="Art">
                    <Component Id="cmp5B33A7BE5FBBC4861B355D75AF67FA79" Guid="*">
                        <File Id="filCA0B1813EB20F071162FBFB9349DA523" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Art\GreenDude.xnb" />
                    </Component>
                </Directory>
                <Directory Id="dirC94B360692D876915BFC8202F11CBEBB" Name="Fonts">
                    <Component Id="cmp02B8A6EB72D7FB968B7D33F4812C61BE" Guid="*">
                        <File Id="filACF2FD8BA35FF99F2D35A5CC71198702" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Fonts\Score.xnb" />
                    </Component>
                    <Component Id="cmp25969B4D9C08E4DFA7C82B80D9DDDB52" Guid="*">
                        <File Id="fil304E75987E1ED54502B579B0CE3DF8F2" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Fonts\ScoreBig.xnb" />
                    </Component>
                </Directory>
                <Directory Id="dirEB2BA839D633B2654C055B9D83D25871" Name="Music">
                    <Component Id="cmpCC705B498256CB68609D249BEEE4B3E9" Guid="*">
                        <File Id="filFEDAF9CA6F3871DCAA7B630EEBB18C3A" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Music\afln_s_gdc-1.wma" />
                    </Component>
                    <Component Id="cmpDDDA067ABBCB8AD8395AEC31DAEA321D" Guid="*">
                        <File Id="filE02EC23903F30A6F7C8E14FF2AD9F0FB" KeyPath="yes" Source="$(var.SourceFilesDir)\Content\Music\afln_s_gdc-1.xnb" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="GameFiles">
            <ComponentRef Id="cmp5FEF7BBDF35B39BDF108D4FC6FF4C924" />
            <ComponentRef Id="cmp10B3ADA67921BA7127B12DFCB13A82CC" />
            <ComponentRef Id="cmpA1E5623C69D1EE284019560C04CCEDA9" />
            <ComponentRef Id="cmp092292E169838EB08640D820B53C5FFB" />
            <ComponentRef Id="cmp43B6E20384786FCCC834919101544DDE" />
            <ComponentRef Id="cmpD672AC6093B252514879260B93A5A63B" />
            <ComponentRef Id="cmpDF8906FA2FAFCA00EDD43FF484161254" />
            <ComponentRef Id="cmpCBC13A32BEA32F0E0E7EC1EDF51D2BC1" />
            <ComponentRef Id="cmpA4E2315F34E39171C2343F76EA85A474" />
            <ComponentRef Id="cmpE55F2C5E82F9417FFFEE05619AD9AFB4" />
            <ComponentRef Id="cmpF7823522CDD572337F4DA0AE07DA2EE7" />
            <ComponentRef Id="cmp67FFC4902B13B33DF23C49E38B185E72" />
            <ComponentRef Id="cmp5CF510CE0CE8760DB2E562E4E97628EB" />
            <ComponentRef Id="cmp2AAF50D0CA62971212E45BE4DADFA325" />
            <ComponentRef Id="cmp4AFE0A7C759DEF4F668E3010CB30E6D9" />
            <ComponentRef Id="cmp4ABFA231C0F3C7C9B38C1614365F9D81" />
            <ComponentRef Id="cmp385F13079D9544D5F7F259D6E838A162" />
            <ComponentRef Id="cmp5B75F75FCEDC1B2E6BE000905263B995" />
            <ComponentRef Id="cmpD5BB730922D891BBF1C845CCC167AF91" />
            <ComponentRef Id="cmpC4FCCCF1912E6039285E3C056BF7D4C5" />
            <ComponentRef Id="cmpD70A03A95329ED267F1F32ECBEAF74A2" />
            <ComponentRef Id="cmp5B33A7BE5FBBC4861B355D75AF67FA79" />
            <ComponentRef Id="cmp02B8A6EB72D7FB968B7D33F4812C61BE" />
            <ComponentRef Id="cmp25969B4D9C08E4DFA7C82B80D9DDDB52" />
            <ComponentRef Id="cmpCC705B498256CB68609D249BEEE4B3E9" />
            <ComponentRef Id="cmpDDDA067ABBCB8AD8395AEC31DAEA321D" />
        </ComponentGroup>
    </Fragment>
</Wix>